.nodisplay {
	display: none;
}

.infocus {
	display: block;
}

.aTarget {
	background-color: #99dd55;
}

.notATarget {
	background-color: #FFFFFF;
}

.gotSkills {
	background-color: #99dd55;
	border: 1px solid black;
}

.noSkill {
	background-color: #FFFFFF;
	border: 1px solid black;
}

.saaTarget {
	background-color: #FEDC56;
}

.freeSkill {
	background-color: #FEDC56;
	border: 1px solid black;
}

.notCrew {
	border: 1px solid black;
}

#skills {
	position: fixed;
	color: red;
	right: 220px;
	bottom: 30px;
	font-weight: bold;
}

#crew {
	position: fixed;
	color: red;
	right: 120px;
	bottom: 30px;
	font-weight: bold;
}

#contacts {
	position: fixed;
	color: red;
	right: 20px;
    bottom: 30px; 
	font-weight: bold;
}